@model HealthCareMVC.Models.PatientViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PatientViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Doctors" asp-action="EditPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="CustId" class="control-label"></label>

            <span asp-validation-for="CustId" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="PatientId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientAddress" class="control-label"></label>
                <input asp-for="PatientAddress" class="form-control" />
                <span asp-validation-for="PatientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientPhNo" class="control-label"></label>
                <input asp-for="PatientPhNo" class="form-control" />
                <span asp-validation-for="PatientPhNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientEmail" class="control-label"></label>
                <input asp-for="PatientEmail" class="form-control" />
                <span asp-validation-for="PatientEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="CustPassword" class="control-label"></label>*@
                <input asp-for="PatientPassword" class="form-control" type="hidden" />

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Doctors" asp-action="SearchPatiByName">Back to Dashboard</a>
</div>

